#ifndef OS2_INCLUDED
#include <os2.h>
#endif
#include "vncvrc.h"

ICON ID_ICON vncv.ico

STRINGTABLE
{
  IDS_SERVER           "Server"
  IDS_ENCODINGS        "Encodings"
}

MENU IDMNU_VNCV LOADONCALL MOVEABLE DISCARDABLE
{
  SUBMENU "Dynamic icon",        -1
  {
    MENUITEM "~On",              IDMI_DYNICON_ON, MIS_TEXT
    MENUITEM "O~ff",             IDMI_DYNICON_OFF, MIS_TEXT
  }
}

DLGTEMPLATE IDDLG_PAGE_SERVER LOADONCALL MOVEABLE DISCARDABLE
{
  DIALOG "", IDDLG_PAGE_SERVER, 0, 0, 255, 165, NOT FS_DLGBORDER | WS_VISIBLE
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
  {
    CONTROL "Address", -1, 3, 66, 210, 25, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
    CONTROL "~Host[:display]:", -1, 8, 72, 69, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDEF_HOSTDISPLAY, 77, 72, 110, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE |
            WS_TABSTOP
      CTLDATA 8, 256, 0, 0

    CONTROL "Session", -1, 3, 12, 210, 52, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
    CONTROL "C~onnection attempts:", -1, 8, 48, 69, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDSB_ATTEMPTS, 78, 48, 26, 8, WC_SPINBUTTON,
            SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTCENTER | WS_VISIBLE |
            WS_GROUP | WS_TABSTOP
      CTLDATA 24, 0, 2, 0, 1, 0, 10, 0, 0, 0, 0, 0
    CONTROL "Color depth (~BPP):", -1, 8, 38, 69, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDSB_BPP, 78, 38, 26, 8, WC_SPINBUTTON,
            SPBS_MASTER | SPBS_READONLY | SPBS_JUSTCENTER | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Remember password", IDCB_REMEMBER_PSWD, 120, 48, 80, 8, WC_BUTTON,
            BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "Vie~w only", IDCB_VIEW_ONLY, 120, 38, 80, 8, WC_BUTTON,
            BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Shared session", IDCB_SHARE_DESKTOP, 120, 28, 80, 8, WC_BUTTON,
            BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "Ch~aracter encoding:", -1, 8, 18, 69, 8, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDEF_CHARSET, 77, 18, 61, 7, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE |
            WS_TABSTOP
      CTLDATA 8, 31, 0, 0

    CONTROL "~Dynamic icon (screenshot)", IDCB_DYNAMICICON, 8, 2, 100, 8, WC_BUTTON,
            BS_CHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP

    CONTROL "~Undo", IDPB_UNDO, 5, 5, 60, 10, WC_BUTTON,
            BS_NOTEBOOKBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "~Default", IDPB_DEFAULT, 5, 5, 60, 10, WC_BUTTON,
            BS_NOTEBOOKBUTTON | WS_VISIBLE | WS_TABSTOP
  }
}

DLGTEMPLATE IDDLG_PAGE_ENCODINGS LOADONCALL MOVEABLE DISCARDABLE
{
  DIALOG "", IDDLG_PAGE_ENCODINGS, 0, 0, 255, 165, NOT FS_DLGBORDER | WS_VISIBLE
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
  {
    CONTROL "Encodings", -1, 3, 2, 210, 87, WC_STATIC,
            SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
    CONTROL "", IDLB_ALL_ENCODINGS, 8, 27, 57, 53, WC_LISTBOX,
            LS_NOADJUSTPOS | LS_MULTIPLESEL | LS_EXTENDEDSEL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "~Add", IDPB_ENC_ADD, 68, 60, 35, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "~Delete", IDPB_ENC_DELETE, 68, 48, 35, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "", IDLB_SEL_ENCODINGS, 107, 27, 57, 53, WC_LISTBOX,
            LS_NOADJUSTPOS | LS_MULTIPLESEL | LS_EXTENDEDSEL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    CONTROL "U~p", IDPB_ENC_UP, 170, 60, 35, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "Do~wn", IDPB_ENC_DOWN, 170, 48, 35, 10, WC_BUTTON,
            BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP

    CONTROL "Compr~ess:", -1, 8, 5, 40, 8, WC_STATIC,
            SS_TEXT | DT_RIGHT | DT_MNEMONIC | WS_VISIBLE
    CONTROL "Slider", IDSLID_COMPRESS, 50, 5, 51, 20, WC_SLIDER, 
            SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT | SLS_PRIMARYSCALE1 |
            SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
      CTLDATA 12, 0, 10, 0, 10, 0
    CONTROL "~Quality:", -1, 102, 5, 40, 8, WC_STATIC,
            SS_TEXT | DT_RIGHT | DT_MNEMONIC | WS_VISIBLE
    CONTROL "Slider", IDSLID_QUALITY, 144, 5, 52, 20, WC_SLIDER, 
            SLS_HORIZONTAL | SLS_BOTTOM | SLS_HOMELEFT | SLS_PRIMARYSCALE1 |
            SLS_SNAPTOINCREMENT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
      CTLDATA 12, 0, 10, 0, 10, 0

    CONTROL "~Undo", IDPB_UNDO, 5, 5, 60, 10, WC_BUTTON,
            BS_NOTEBOOKBUTTON | WS_VISIBLE | WS_TABSTOP
    CONTROL "~Default", IDPB_DEFAULT, 5, 5, 60, 10, WC_BUTTON,
            BS_NOTEBOOKBUTTON | WS_VISIBLE | WS_TABSTOP
  }
}
