#include "chatwin.h"

DLGTEMPLATE IDDLG_CHAT
{
  DIALOG "Chat", IDDLG_CHAT, -86, -37, 220, 90,
          FS_SIZEBORDER | FS_MOUSEALIGN | WS_VISIBLE,
          FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_CLOSEBUTTON |
          FCF_TASKLIST | FCF_NOBYTEALIGN
    PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
  {
    CONTROL "", IDMLE_HISTORY, 0, 13, 220, 77, WC_MLE, 
            MLS_BORDER | MLS_DISABLEUNDO | MLS_LIMITVSCROLL | MLS_READONLY |
            MLS_VSCROLL | MLS_WORDWRAP | WS_VISIBLE
    CONTROL "", IDEF_MESSAGE, 1, 2, 180, 8, WC_ENTRYFIELD,
            ES_LEFT | ES_AUTOSCROLL | WS_VISIBLE | WS_TABSTOP
      CTLDATA 8, 1023, 0, 0
    CONTROL "~Send", MBID_OK, 184, 2, 35, 10, WC_BUTTON,
            BS_DEFAULT | WS_VISIBLE | WS_TABSTOP
  }
}
